.container {
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #ff5400;
  overflow: hidden;
  min-width: 1280px;
  .layer--black {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: #ff6900;
    border-color: #ff6900;
  }

  :global(.ant-checkbox-wrapper:hover .ant-checkbox-inner) {
    border-color: #ff6900;
  }

  :global(.ant-checkbox:hover .ant-checkbox-inner) {
    border-color: #ff6900;
  }

  :global(.ant-checkbox-input:focus + .ant-checkbox-inner) {
    border-color: #ff6900;
  }
}

.logo_img{
  position: absolute;
  right: 35vw;
  top: -90px;
}

.bg {
  width: 100%;
  height: 100vh;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down {
  font-size: 14px;
  color: #388DED;
  margin-left: 24px;
  cursor: pointer;
}

.warn {
  width: 16px;
  height: 28px;
  margin-right: 8px;
  color: #FFBF00;
}

.loginCon {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 440px;
  height: 539px;
  border-radius: 10px;
  position: absolute;
  top: 10vh;
  right: 13vw;
  align-items: center;
}
.loginCon1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 440px;
  height: 539px;
  border-radius: 10px;
  align-items: center;
  position: relative;
}

.logo {
  width: 80px;
  height: 16px;
  color: #ff6700;
  margin-top: 48px;
}

.shangmi {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 33px;
}

.english {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.7px;
}

.loginStyleCon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 32px;
}

.loginItem {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.grayLine {
  width: 180px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 8px;
}

.selectedLine {
  width: 180px;
  height: 1px;
  background-color: #ff6900;
  margin-top: 8px;
}

.selectedText {
  color: #ff6900;
  font-size: 14px;
  letter-spacing: 0.82px;
}

.unselectedText {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  letter-spacing: 0.82px;
}

.phoneLogin {
  display: flex;
  flex-direction: column;
}

.phoneCon {
  display: flex;
  margin-top: 24px;
  position: relative;
}

.codeCon {
  display: flex;
  margin-top: 16px;
}

.picCon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 56px;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

.tel {
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.65);
}

.input {
  width: 300px;
  height: 56px;
  background-color: #F5F5F5;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 8px;
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.yanzhengma {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.45);
}

.code {
  position: absolute;
  font-size: 14px;
  color: #ff6900;
  top: 17px;
  right: 18px;
  cursor: pointer;
}

.grayCode {
  position: absolute;
  font-size: 14px;
  color: #ccc;
  top: 17px;
  right: 18px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6900;
  border-radius: 4px;
  width: 360px;
  height: 56px;
  margin-top: 40px;
  cursor: pointer;
}

.loginText {
  color: white;
  font-size: 18px;
}

.bottom {
  display: flex;
  width: 360px;
  height: 20px;
  margin-top: 16px;
}

.empty {
  flex: 1;
}

.forgetPwd {
  color: #ff6900;
  font-size: 14px;
  align-content: flex-end;
  cursor: pointer;
}
.errorCon{
  position: absolute;
  left: 42px;
  bottom: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorPic{
  width: 15px;
  height: 15px;
  color: #ff0000;
  margin-right: 6px;
}
.errorText{
  color: #ff0000;
  font-size: 14px;
}
.newContent{
  position: absolute;

}
