.panel {
  min-height: calc(100vh - 64px);
  // height: 100%;
  background: #f0f0f0;
  padding-top: 16px;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  height: calc(100vh - 104px);
}

.successText {
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 16px;
  text-align: center;
}

.taskNo {

  background: #FFFFFF;
  border: 1px solid #f7d3b0;
  border-radius: 100px;
  width: 266px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 16px;
}

.tasktext {
  width: 64px;
  height: 28px;
  line-height: 28px;
  background-color: #FF6900;
  border-radius: 100px;
  color: #ffffff;
  margin: auto 6px;
  text-align: center;
}

.taskVal {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FF6900;
}

.iconStyle {
  margin-top: 64px;
  margin-bottom: 16px;
}

.btnGroup {
  text-align: center;

  span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.45);
  }
  button{
    margin-right: 16px;
  }
}
